/* ========================================
   General Styles
======================================== */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    margin: 20px 0;
}

.cycle-summary {
    padding-top: 15px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.hidden {
    display: none !important;
}

.right-align {
    text-align: right;
}

.positive {
    color: green;
}

.negative {
    color: #f44336 !important;
    background-color: #ffeeee; /* Debugging background */
}

/* ========================================
   Header Styles
======================================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header .reset-btn, header .dark-mode-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

header .reset-btn:hover, header .dark-mode-btn:hover {
    background-color: #d32f2f;
}

/* ========================================
   Button Styles
======================================== */
button {
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

button:hover {
    background-color: #1565c0;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.primary-btn {
    background-color: #007bff;
    color: #fff;
}

.primary-btn:hover {
    background-color: #0056b3;
}

.secondary-btn {
    background-color: transparent;
    color: #007bff;
    text-decoration: underline;
    border: none;
    margin-bottom: 10px;
}

.secondary-btn:hover {
    color: white;
    background-color: #007bff;
}

.delete-btn {
    background-color: #fff;
    color: #f44336;
    border: 2px solid #f44336;
}

.delete-btn:hover {
    background-color: #fdecea;
}

/* ========================================
   Form Styles
======================================== */
.form-container {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    padding-bottom: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.form-group select {
    background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"></path></svg>') no-repeat right 10px center;
    background-size: 15px;
    background-position: right 10px center;
    background-color: #fff;
    padding-right: 30px;
}

/* ========================================
   Table Styles
======================================== */
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: 500;
}

.bills.negative {
    color: #f44336 !important;
    background-color: #ffeeee;
}

/* ========================================
   Bill Summary Header Styles
======================================== */
.bill-summary-header {
    display: flex;
    flex-direction: column;
}

.bill-summary-header h2 {
    margin: 0;
}

.bill-summary-header .primary-btn {
    align-self: flex-start;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bill-summary-header .view-mode {
    margin-right: 0;
}

/* ========================================
   Accordion Styles
======================================== */
.accordion {
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
    outline: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
    height: auto;
}

.accordion .leftover {
    margin-left: auto;
    color: #333;
}

.accordion.active, .accordion:hover {
    background-color: #e5e5e5;
}

.panel {
    padding: 0 10px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ========================================
   Dropdown Styles
======================================== */
.view-mode, .filter-by-tag {
    display: flex;
    align-items: center;
}

.view-mode label, .filter-by-tag label {
    margin-right: 5px;
    font-weight: bold;
}

.view-mode select, .filter-by-tag select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.view-mode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    text-align: right; /* Ensure text alignment within the container */
}

.view-mode label {
    margin-right: 5px;
    font-weight: bold;
    text-align: right; /* Align label text to the right */
}

.view-mode select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: right; /* Align dropdown text to the right */
}

/* ========================================
   Button Container Styles
======================================== */
.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.right-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-buttons .filter-by-tag {
    display: flex;
    align-items: center;
}

.left-buttons {
    display: flex;
    align-items: center;
}

/* ========================================
   Chart Styles
======================================== */
.chart-container {
    margin: 20px auto;
    max-width: 800px;
}

/* ========================================
   Modal Styles
======================================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover, .modal-content .close:focus {
    color: black;
    text-decoration: none;
}

/* ========================================
   Dark Mode Styles
======================================== */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.income-summary.dark-mode {
    background-color: #e5e5e5;
}

.container.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode th {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .accordion {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .accordion:hover, .dark-mode .accordion.active {
    background-color: #444;
}

.dark-mode .panel {
    background-color: #1e1e1e;
}

.dark-mode .reset-btn, .dark-mode .dark-mode-btn {
    background-color: #007bff;
    color: #fff;
}

.dark-mode .reset-btn:hover, .dark-mode .dark-mode-btn:hover {
    background-color: #0056b3;
}

.dark-mode table {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode th, .dark-mode td {
    border-color: #333;
}

.dark-mode .modal-content {
    background-color: #e5e5e5;
    color: #e0e0e0;
}

.dark-mode .negative {
    color: #f44336 !important;
    background-color: #1e1e1e; 
}

.dark-mode .accordion-btn {
    background: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode .accordion-btn:focus .accordion-btn:hover{
    background: #1e1e1e;
    color: #e0e0e0;
}

/* ========================================
   Media Queries
======================================== */
@media (max-width: 768px) {
    #billsTable {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
        white-space: nowrap; /* Prevent text from wrapping */
    }

    #billsTable table {
        width: 100%;
        min-width: 600px; /* Minimum width to prevent collapsing */
        border-collapse: collapse;
    }

    #billsTable th, #billsTable td {
        padding: 10px;
    }

    .buttons-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .right-buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        margin-left: 0; /* Reset margin for mobile */
    }

    .filter-by-tag {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
    }
}

/* ========================================
   Data Management Styles
======================================== */
.data-management {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.data-management button {
    margin: 5px 0;
    width: 200px; /* Adjust width as needed */
}

.primary-btn {
    background-color: #007bff;
    color: #fff;
}

.primary-btn:hover {
    background-color: #0056b3;
}

.reset-btn, .dark-mode-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.reset-btn:hover, .dark-mode-btn:hover {
    background-color: #d32f2f;
}

/* ========================================
   New Styles for Updated Design
======================================== */
.cycle-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.cycle-info .left-align {
    text-align: left;
    font-weight: bold;
}

.cycle-info .right-align {
    text-align: right;
    font-weight: bold;
}

.income-summary {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
}

.income-summary p {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.income-summary span {
    text-align: right;
    margin-left: auto;
}

/* ========================================
   Accordion Button Styles
======================================== */
.accordion-btn {
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    appearance: none;
}

.accordion-btn span {
    flex: 1;
}

.accordion-btn .toggle-text {
    font-size: 16px;
    text-align: right;
}

.accordion-btn:focus, .accordion-btn:hover {
    outline: none;
}

.panel-content {
    margin-bottom: 10px;
    overflow: hidden;
}

.panel-content table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: none;
}

.panel-content table td {
    padding: 10px;
}

.panel-content table th {
    background: #f5f5f5;
    font-weight: bold;
}

.edit-income {
    text-align: right;
    display: block;
}

.edit-income-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* ========================================
   Responsive Bills Table Styles
======================================== */
#billsTable {
    overflow-x: auto;
    white-space: nowrap;
}

#billsTable table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

#billsTable th, #billsTable td {
    padding: 10px;
}

#billsTable th {
    font-weight: bold;
}
